body {
  Background-Image: url('./Background/1.png');
  background-size: cover; 
  background-attachment: fixed; 
  line-height: 1;
}

#header{
  display: block; 
  background: transparent; 
  color: whitesmoke; 
  font-size: 40px;
  font-family: 'Rouge Script', cursive; 
  font-weight: normal; 
  margin: 10px;
  padding: 10px;
  text-align: center; 
  overflow: visible;
}

#header:hover{
  /* Background-Image: url('./Background/2.jpg');
  background-repeat: repeat; */
  color: gold; 
  /* background-size: contain; */
}

.navigation {
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal; 
  overflow: visible;
}

a {
  display: inline-block;
  color: whitesmoke;
  font-size: 30px;
  width: 15%;
}

a:hover {
  color: gold;
}

.LoginForm {
  color: white;
  font-size: 20px;
}

.LoginForm:hover {
  color: gold;
}

input {
  color: white;
  font-size: 20px;
  background-color: black;
}

input:hover {
  color: gold;
  font-size: 20px;
  background-color: black;
}

.PostCardContainer {
  text-align: center;
  display: block;
  background-color: black;
  opacity: .80;
  border: 6px solid gold;
  border-radius: 15px;
  margin: auto;
  opacity: .30;
  width: 70%;
  height: auto;
  padding: 1%;
  overflow-y: scroll;
}

.PostCardContainer:hover {
  opacity: .65;
}

.story {
  display: inline-block;
  overflow-y: scroll;
  width: 90%;
  height: 150px;
}

.story:hover {
  border: 2px solid gold;
}

.comment {
  display: inline-block;
  overflow-y: scroll;
  width: 90%;
  height: 100px;
}

.comment:hover {
  border: 2px solid gold;
}

.PersonalPostContainer{
  text-align: center;
  display: block;
  background-color: black;
  opacity: .80;
  border: 6px solid gold;
  border-radius: 15px;
  margin: auto;
  opacity: .30;
  width: 70%;
  height: auto;
  padding: 1%;
  overflow-y: scroll;
}

.PersonalPostContainer{
  opacity: .65;
}