body {
  Background-Image: url('./Background/1.png');
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed; 
  line-height: 1.5;
  background-color: transparent;
}

#header{
  display: block; 
  background: transparent; 
  color: whitesmoke; 
  font-size: 40px;
  font-family: 'Rouge Script', cursive; 
  font-weight: normal; 
  margin-top: 0px; 
  margin-bottom: 0px;
  padding-top: 0px; 
  padding-bottom: 0px;
  text-align: center; 
  overflow: visible;
}

#header:hover{
  /* Background-Image: url('./Background/2.jpg');
  background-repeat: repeat; */
  color: gold; 
  /* background-size: contain; */
}

nav {
  display: block ;
  background: transparent; 
  text-align: center; 
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal; 
  text-align: left; 
  overflow: visible;
}

a {
  color: white;
}

a:hover {
  color: gold;
}

.LoginForm {
  color: white;
  font-size: 20px;
}

.LoginForm:hover {
  color: gold;
}

input {
  color: white;
  font-size: 20px;
  background-color: black;
}

input:hover {
  color: gold;
  font-size: 20px;
  background-color: black;
}

.postCard {
  display: grid;
  font-size: 20px;
  align-items: center;
}

.postCardContainer {
  background-color: black;
  opacity: .80;
  border: 2px solid gold;
  border-radius: 8px;
  margin: 10px;
}